/* import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: "Poppins", Verdana;

    --color-primary: #202020;
    --white: #fff;
    --color-primary-accent: #0578ff;
    --color-primary-accent-10: rgba(5, 120, 255, 0.1);
    --color-secondary-accent: #ffc501;
    --grey-primary: #90a3bf;
    --grey-primary-50: rgba(144, 163, 191, 0.5);
    --grey-secondary: rgba(32, 32, 32, 0.5);
    --gradient-body: linear-gradient(180deg, #f5f5f5 0%, #ddecff 50.17%, #f5f5f5 100%);

    --width-container: 1312px;
}

/* normalize styles */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: var(--font-family), sans-serif;
    color: var(--color-primary);
    background: var(--gradient-body);
}

ul,
ol {
    padding-left: 0;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin-block: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
button {
    font: inherit;
}

html {
    height: 100%;
    scrollbar-gutter: stable; /* убираем скачок интерфейса по горизонтали при появлении / исчезновении скроллбара */
    scroll-behavior: smooth; /* плавный скролл*/
}

button,
label {
    cursor: pointer;
}

/* убираем стрелки управления числового ввода */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

legend {
    display: block;
    padding: 0;
    white-space: normal;
}

/* headers */
h1 {
    font-weight: 700;
    font-size: 4rem; /* 64px */
    text-transform: capitalize;
    color: var(--color-primary);
}

h2 {
    font-weight: 700;
    font-size: 3.875rem; /* 62px */
    color: var(--color-primary);
}

h3 {
    font-weight: 500;
    font-size: 1.125rem; /* 18px */
    color: var(--color-primary);
}

p {
    font-weight: 400;
    font-size: 1rem; /* 16px */
    color: var(--color-primary);
}

.container {
    max-width: var(--width-container);
    width: 100%;
    margin-inline: auto;
}

.paddings {
    padding-inline: 32px;
}

@media screen and (max-width: 425px) {
    .paddings {
        padding-inline: 20px;
    }
}

html.--lock {
    overflow: hidden;
}

.underline-link {
    position: relative;
}

.underline-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--color-primary);
    transition: transform 0.3s;

    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

@media (hover: hover) {
    .underline-link:hover::after {
        transform: scale(1);
    }
}

/* HEADER */
.header {
    padding-block: 33px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;

    height: 51px;
    margin-right: 65px;
    text-decoration: none;
    color: var(--color-primary);
}

.header-logo svg {
    margin-top: 8px;
}

.header-logo-name {
    font-weight: 400;
    font-size: 2.125rem; /* 34px */
}

@media screen and (max-width: 390px) {
    .header-logo-name {
        display: none;
    }
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 610px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .header-menu {
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 13vw;

        position: absolute;
        left: 0;
        top: 116px;
        z-index: 10;

        max-width: 100vw;
        height: 100vh;
        background-color: var(--color-primary-accent);
        padding: 128px 34px;
        overflow: auto;

        opacity: 0;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
    }
}

.header-menu.--open {
    transform: scaleY(1);
    opacity: 1;
}

.header-menu-item {
    text-decoration: none;
    padding: 5px;
}

.header-menu-item:not(:last-child) {
    margin-right: 10px;
}

.header-menu-item > span {
    font-size: 1.25rem; /* 20px */
    line-height: 135%;
    text-align: center;
    color: var(--color-primary);
    white-space: nowrap;
    transition: text-shadow 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .header-menu-item:last-child {
        margin-bottom: 128px;
    }

    .header-menu-item > span {
        font-size: 3rem; /* 48px */
        line-height: 56%;
        color: var(--white);
    }
}

@media screen and (max-width: 360px) {
    .header-menu {
        padding: 64px 20px;
    }

    .header-menu-item > span {
        font-size: 2rem;
    }
}

.header-menu-item:active > span,
.header-menu-item:last-child > span {
    text-shadow: 0 0 1px var(--color-primary);
}

@media (hover: hover) {
    .header-menu-item:hover > span {
        text-shadow: 0 0 1px var(--color-primary);
    }
}

/* BURGER ICON */
.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    width: 30px;
    height: 24px;

    cursor: pointer;
    padding-block: 2px;
}

@media screen and (max-width: 768px) {
    .burger {
        display: flex;
    }
}

.burger-line {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: var(--color-primary-accent);
    transition: transform 0.2s ease-in-out;
}

.burger-line:first-child::after {
    content: '';
    position: absolute;
    top: 11px;
    width: 16px;
    height: 2px;
    background-color: var(--color-primary-accent);
    transition: width 0.3s ease-in-out;
}

.burger.--open {
    justify-content: center;
}

.burger.--open .burger-line:first-child::after {
    width: 0;
    transition: 0s;
}

.burger.--open .burger-line:first-child {
    transform: translateY(50%) rotate(-45deg);
}

.burger.--open .burger-line:last-child {
    transform: translateY(-50%) rotate(45deg);
}

/* WELCOME SECTION */
.welcome-section {
    padding-block: 64px 128px;
}

.welcome-section-container {
    display: flex;
    justify-content: space-between;
}

.welcome-section-content {
    flex-basis: 640px;
    width: 100%;
}

.welcome-section-content > p {
    max-width: 600px;
}

.welcome-section-title {
    margin-bottom: 32px;
}

/** welcome section form **/
.welcome-section-form {
    width: 100%;
    margin-top: 32px;

    /*** radio input group ***/
    .radio-input-group {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        padding: 5px 24px;
        margin-bottom: 20px;

        background-color: var(--white);
        border-radius: 10px;
    }

    @media screen and (max-width: 460px) {
        .radio-input-group {
            padding: 8px;
        }
    }

    .radio-input-group > div {
        display: flex;
        align-items: center;
        flex-shrink: 0;
    }

    .radio-input {
        appearance: none;
        margin: 0 6px 0 0;
        position: relative;
        width: 18px;
        height: 18px;
        background-color: var(--grey-primary-50);
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
    }

    .radio-input::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 6px;
        height: 6px;
        background-color: var(--white);
        border-radius: 50%;
        opacity: 0;
    }

    .radio-input:checked {
        background-color: var(--color-primary-accent);
    }

    .radio-input:checked::after {
        opacity: 1;
    }

    .radio-label {
        font-size: 0.875rem; /* 14px */
    }

    .form-range-icon {
        margin-right: 6px;
    }

    .form-range-btn {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
    }

    #btn-minus::after,
    #btn-plus::before,
    #btn-plus::after{
        content: '';
        position: absolute;
        width: 12px;
        height: 2px;
        border-radius: 2px;
        background-color: var(--color-primary-accent);
    }

    #btn-minus:disabled,
    #btn-plus:disabled {
        cursor: auto;
    }

    #btn-minus:disabled::after,
    #btn-plus:disabled::before,
    #btn-plus:disabled::after {
        background-color: var(--grey-secondary);
    }

    #btn-plus::before {
        transform: rotate(90deg);
    }

    .range-input {
        width: 24px;
        padding: 0;
        border: none;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 0.875rem; /* 14px */
        line-height: 157%;
    }

    /*** text input group ***/
    .text-input-group {
        width: 100%;
        display: flex;
        gap: 32px;
        margin-bottom: 21px;
    }

    .text-input-group > div {
        width: 100%;
    }

    .text-label,
    .form-legend {
        font-weight: 600;
        font-size: 1rem;
        line-height: 150%;
        display: block;
        margin-bottom: 16px;
    }

    .text-input {
        border-radius: 10px;
        border: none;
        padding: 16px 24px;
        width: 100%;
        height: 53px;
        background-color: var(--white);

        font-weight: 500;
        font-size: 0.875rem; /* 14px */
        line-height: 150%;
        transition: background-color 0.2s ease-in-out;
    }

    .text-input::placeholder {
        font-weight: 500;
        font-size: 0.875rem; /* 14px */
        line-height: 150%;
        color: var(--grey-primary);
    }

    .text-input:focus,
    .range-input:focus {
        outline: 1px solid var(--color-primary-accent);
    }

    .text-input:disabled {
        background-color: var(--color-primary-accent-10);
    }

    .text-input.--date {
        padding: 16px 24px 16px 52px;
    }

    .text-input-icon {
        position: relative;
    }

    .text-input-icon::before {
        content: url("./assets/icons/calendar.svg");
        position: absolute;
        top: 18px;
        left: 24px;
        width: 16px;
        height: 17px;
    }

    .form-submit-btn {
        width: 100%;
        padding: 16px;
        border: none;
        border-radius: 10px;
        text-align: center;

        background-color: var(--color-primary-accent);
        color: var(--white);
        font-weight: 700;
        font-size: 1.25rem; /* 20px */
        text-transform: capitalize;
    }
}

@media screen and (max-width: 760px) {
    .welcome-section {
        padding-block: 24px 128px;
    }

    .welcome-section-title {
        font-size: 2rem; /* 32px */
        margin-bottom: 24px;
    }

    .welcome-section-content > p {
        font-size: 0.6875rem; /* 11px */
    }

    .welcome-section-form {
        margin-top: 24px;

        .text-input-group {
            flex-direction: column;
            gap: 20px;
        }

        .radio-label {
            font-size: 0.75rem; /* 12px */
        }
    }
}

.welcome-section-img {
    flex-basis: 640px;
}

@media screen and (max-width: 1024px) {
    .welcome-section-img {
        display: none;
    }
}

/* FACTS SECTION */
.facts-section {
    background-color: var(--color-primary-accent);
    color: var(--white);
    padding-block: 60px;
}

.facts-section-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.fact {
    display: flex;
    flex-direction: column;
}

.fact-number {
    font-weight: 700;
    font-size: 3.125rem; /* 50px */
    text-align: center;
}

.fact-caption {
    font-weight: 500;
    font-size: 1.25rem; /* 20px */
    text-align: center;
}

@media screen and (max-width: 890px) {
    .facts-section {
        padding-block: 64px;
    }

    .facts-section-container {
        max-width: 506px;
        justify-content: space-around;
    }
}

@media screen and (max-width: 425px) {
    .facts-section {
        padding-block: 30px;
    }

    .facts-section-container {
        gap: 30px;
    }

    .fact-number {
        font-size: 2.5rem; /* 40px */
    }

    .fact-caption {
        font-size: 1rem;
    }
}

/* GALLERY SECTION */
.gallery-section {
    padding-block: 128px;
}

.gallery-section-title {
    font-size: 4rem; /* 64px */
    margin-bottom: 24px;
}

@media screen and (max-width: 760px) {
    .gallery-section-title {
        font-size: 2rem; /* 32px */
    }
}

.gallery {
    display: grid;
    grid-template: repeat(3, auto) / minmax(auto, 528px) minmax(auto, 305px) minmax(auto, 416px);
    grid-template-areas:
        "item1 item3 item4"
        "item2 item3 item4"
        "item2 item5 item5";
    gap: 24px 32px;
}

.gallery-item {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.gallery-item-1 {
    grid-area: item1;
    height: 376px;
    background-image: url("./assets/images/gallery-img-1.png");
}

.gallery-item-2 {
    grid-area: item2;
    height: 376px;
    background-image: url("./assets/images/gallery-img-2.png");
}

.gallery-item-3 {
    grid-area: item3;
    height: 489px;
    background-image: url("./assets/images/gallery-img-3.png");
}

.gallery-item-4 {
    grid-area: item4;
    height: 489px;
    background-image: url("./assets/images/gallery-img-4.png");
}

.gallery-item-5 {
    grid-area: item5;
    height: 264px;
    background-image: url("./assets/images/gallery-img-5.png");
}

@media screen and (max-width: 768px) {
    .gallery {
        grid-template: repeat(4, auto) / repeat(2, 1fr);
        grid-template-areas:
        "item1 item1"
        "item2 item2"
        "item3 item4"
        "item5 item5";
    }

    .gallery-item-1 {
        height: 380px;
    }

    .gallery-item-2 {
        height: 362px;
    }

    .gallery-item-3,
    .gallery-item-4 {
        height: 425px;
    }

    .gallery-item-5 {
        height: 225px;
    }
}

@media screen and (max-width: 425px) {
    .gallery-section {
        padding-block: 64px;
    }

    .gallery {
        grid-template: repeat(5, auto) / 1fr;
        grid-template-areas:
            "item1"
            "item2"
            "item3"
            "item4"
            "item5";
        gap: 12px;
    }

    .gallery-item-1 {
        height: 220px;
    }

    .gallery-item-2 {
        height: 209px;
    }

    .gallery-item-3 {
        height: 472px;
    }

    .gallery-item-4 {
        height: 637px;
    }

    .gallery-item-5 {
        height: 141px;
    }
}

/* APP SECTION */
.app-section {
    padding-block: 116px 128px;
    background-color: var(--color-secondary-accent);
}

.app-section-container {
    max-width: 863px;

    > * {
        margin-inline: auto;
    }
}

.app-section-title {
    text-align: center;
    margin-bottom: 60px;
}

.app-section-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app-link {
    display: inline-block;
    max-height: 65px;
}

@media screen and (max-width: 768px) {
    .app-section {
        padding-block: 128px;
    }

    .app-section-title {
        font-size: 2.5rem; /* 40px */
        margin-bottom: 32px;
    }

    .app-section-links {
        max-width: 462px;
        justify-content: center;
        gap: 30px 49px;
    }

    .app-link {
        margin-inline: auto;
    }
}

@media screen and (max-width: 425px) {
    .app-section {
        padding-block: 32px;
    }

    .app-section-title {
        font-size: 2rem; /* 32px */
        margin-bottom: 30px;
        max-width: 290px;
    }

    .app-section-links {
        max-width: 189px;
        gap: 30px;
    }

    .app-link {
        max-height: 50px;
    }

    .app-link:first-child svg {
        width: 169px;
        height: 50px;
    }

    .app-link:nth-child(2) svg {
        width: 164px;
        height: 50px;
    }

    .app-link:last-child svg {
        width: 147px;
        height: 50px;
    }
}

/* FAQ SECTION */
.faq-section {
    background-color: var(--white);
    padding-block: 128px;
}

.faq-section-title {
    font-size: 4rem; /* 64px */
    line-height: 150%;
    margin-bottom: 40px;
}

@media screen and (max-width: 425px) {
    .faq-section {
        padding-block: 64px;
    }

    .faq-section-title {
        margin-bottom: 32px;
    }
}

.faq-section-container {
    max-width: 1086px;
    margin-inline: auto;

    .accordion-item:not(:last-child) {
        border-bottom: 1px solid var(--grey-secondary);
    }

    .accordion-item-title {
        font-weight: 500;
        font-size: 1.125rem; /* 18px */
        line-height: 120%;

        position: relative;
        padding: 16px 25px 18px 0;
        list-style: none;
        cursor: pointer;
        transition: margin 0.2s ease-out;
    }

    .accordion-item-title::after {
        content: '+';
        font-size: 1.5rem;
        font-weight: 400;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: center;
        transition: transform 0.2s;
    }

    .accordion-item[open] .accordion-item-title {
        margin-bottom: 16px;
    }

    .accordion-item[open] > .accordion-item-title::after {
        transform: rotate(45deg) translate(-50%, -35%) scale(1.2);
    }

    .accordion-item-content {
        font-size: 1rem;
        line-height: 140%;
    }

    .accordion-item-content > p {
        padding-bottom: 16px;
    }

    .accordion-item[open] .accordion-item-content {
        animation: sweep .5s ease-in-out;
    }
}

@keyframes sweep {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}

/* CONTACT US SECTION */
.contacts-section {
    background: linear-gradient(var(--white) 23%, var(--color-primary-accent) 23%);
    padding-bottom: 128px;
}

.contacts-section-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 640px;
    margin-inline: auto;
    padding-block: 60px;

    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid var(--grey-secondary);
    text-align: center;
}

.contacts-section-title {
    font-weight: 700;
    font-size: 4rem; /* 64px */
    line-height: 120%;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact {
    font-size: 1.75rem; /* 28px */
    line-height: 140%;
    text-decoration: none;
    color: var(--color-primary);
    margin-inline: auto;
}

.contact-address {
    font-size: 1.125rem; /* 18px */
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    .contacts-section-container {
        max-width: 464px;
    }
}

@media screen and (max-width: 540px) {
    .contacts-section-title {
        font-size: 2.25rem; /* 36px */
    }

    .contact {
        font-size: 1.25rem; /* 20px */
    }

    .contact-address {
        font-size: 1.125rem; /* 18px */
    }
}

/* FOOTER */
.footer {
    padding-block: 64px 76px;
    background-color: var(--color-primary-accent);
    color: var(--white);
}

.footer-main-content {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(140px, 192px));
    gap: 24px 32px;
    align-items: start;
    margin-bottom: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo svg {
    fill: var(--white);
}

.footer-logo-name {
    font-size: 2.125rem; /* 34px */
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .links-title {
        font-weight: 600;
        font-size: 1.25rem; /* 20px */
        line-height: 150%;
        letter-spacing: -0.02em;
        margin-bottom: 10px;
    }

    .link {
        font-weight: 500;
        font-size: 1rem;
        line-height: 150%;
        letter-spacing: -0.02em;

        text-decoration: none;
        color: var(--white);
        margin-right: auto;
    }

    .link::after {
        background-color: var(--white);
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        padding-block: 64px 59px;
    }

    .footer-main-content {
        grid-template-columns: repeat(3, minmax(140px, 192px));
    }

    .footer-logo {
        grid-column-end: span 3;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 540px) {
    .footer-main-content {
        grid-template-columns: repeat(2, minmax(140px, 192px));
    }

    .footer-logo {
        grid-column-end: span 2;
    }
}

.footer-copyright small {
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: -0.02em;
}